{% extends 'base.html' %}

{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">size</th>
            <th scope="col">download</th>
            <th scope="col">delete</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ obj.Key }}</td>
            <td>{{ obj.Size|filesizeformat }}</td>
            <td><a href="{% url 'home_app:download-obj-bucket' obj.Key %}">download</a></td>
            <td><a href="{% url 'home_app:delete-obj-bucket' obj.Key %}">delete</a></td>
        </tr>
        {% endfor %}
        
        </tbody>
    </table>

{% endblock %}