{% extends 'base.html' %}





{% block content %}
    <h2>{{ product.name }}</h2>

    <small>{{ product.created }}</small>
    <p>{{ product.price }}toman</p>
    <img src="{{ product.image.url }}" style="width: 300px; hight: 300;" alt=""></img>
    <p>{{ product.description }}</p><br/><br/>
    <form  action="{% url 'order_app:cart_add' product.id %}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-danger"type="submit" value="add to cart">
    </form>

            
    
{% endblock %}
       