{% extends 'base.html' %}
{% load static %}

{% block extra_headers %} 

<link rel="stylesheet" href="{% static 'home_app/css/style.css' %}">

{% endblock %}



{% block content %}
    <p> hello </p>

    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" >
            <div class="card-body">
            <a  href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
        
            </div>
        </div>

    {% endfor %}

        
    
{% endblock %}
       