{% extends 'base.html' %}

{% block content %}
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th> <!-- اصلاح شد: "Namet" به "Name" -->
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>  
        <th scope="col">Total price</th>  
        <th scope="col">Remove</th>  
      </tr>
    </thead>
    <tbody>

    {% for item in cart %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.product }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.total_price }}</td>
      {% comment %} <td><a href="{% url 'order_app:cart_remove' item.product.id %}">remove</a></td> <!-- اصلاح شد: استفاده از نقل قول صحیح --> {% endcomment %}
    </tr>
    {% endfor %}
    <tr>
      <td>Total</td>
      <td colspan="4"></td>
      <td>{{ cart.get_total_price }}</td> <!-- اطمینان از وجود این متد در مدل یا view -->
    </tr>
    </tbody>
  </table>
  <a href="{% url 'order_app:orders_create' %}"class="btn btn-primary" >checkout</a>

{% endblock %}
